BODY{BACKGROUND-COLOR:#F9F9F9;
     FONT-FAMILY: ARIAL, SANS-SERIF;
     TEXT-ALIGN: CENTER;
     PADDING: 50PX;
}


H1 { COLOR: #2C3E50;
}

A{ COLOR: #2980B9;
  TEXT-DECORATION:NONE;
}


BUTTON{
       PADDING: 10PX 20PX;
       FONT-SIZE: 16PX;
       BACKGROUND-COLOR:#3498DB;
       COLOR: WHITE;
       BORDER: NONE;
       BORDER-RADIUS: 5PX;
       CURSOR: POINTER;
}

 BUTTON:HOVER { BACKGROUND-COLOR: #2980B9;}

FORM{ MAX-WIDTH: 400PX;
MARGIN:0 AUTO;
TEXT-ALIGN: LEFT;
BACKGROUND:#FFF;
PADDING:20PX;
BORDER-RADIUS: 10PX;
BOX-SHADOW: 0 0 10PX RGBA(0,0,0,0.1);
}


INPUT[TYPE-"TEXT"]
INPUT[TYPE="EMAIL"],
TEXTAREA{
WIDTH: 100%;
PADDING:10PX;
MARGIN-TOP:5PX;
MARGIN-BOTTOM: 15PX;
BORDER:1PX SOLID #CCC;
BORDER-RADIUS: 5PX;
}

INPUTT[TYPE="SUBMIT"]
{BACKGROUND-COLOR: #2ECC71;
COLOR:WHITE;
BORDER:NONE;
PADDING:10PX 20PX;
FONT-SIZE:16PX;
BORDER-RADIUS:5PX;
CURSOR: POINTER;
}

INPUT[TYPE="SUBMIT"]:HOVER

{BACKGROUND-COLOR:#27AE60;}
